[submodule "projects/ims"]
	path = projects/ims
	url = https://github.com/courseimprovement/ims
[submodule "projects/byui.js"]
	path = projects/byui.js
	url = https://github.com/courseimprovement/byui.js
[submodule "projects/duedateadjustment"]
	path = projects/duedateadjustment
	url = https://github.com/courseimprovement/duedateadjustment
[submodule "web/lib/semantic-ui"]
	path = web/lib/semantic-ui
	url = https://github.com/semantic-org/semantic-ui/
[submodule "projects/PatternRecognitionApplication"]
	path = projects/PatternRecognitionApplication
	url = https://github.com/CourseImprovement/PatternRecognitionApplication.git
[submodule "projects/HTML-Query"]
	path = projects/HTML-Query
	url = https://github.com/CourseImprovement/HTML-Query.git
